/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* Global Styles */
.marg-bottom-25{
    margin-bottom: 25px;
}

.marg-top-15{
    margin-top: 15px;
}



.a-link{
    text-decoration: none;
}

button:focus {
    outline: none;
}
