<!-- Top Navigation Starts Here -->
<header>

  <!-- Mobile Navigation Top Navigation Starts Here -->
  <nav class="navbar navbar-dark flex-md-row bd-navbar mobile-nav fixed-top">
    <button mat-icon-button>
      <mat-icon class="menu-icon" (click)="snav.toggle()">menu</mat-icon>
    </button>

    <a class="navbar-brand mr-0 mr-md-2 marg-left-10" href="/" aria-label="Bootstrap">
      Westeros
    </a>

    <div class="flex-row ml-md-auto profile" [matMenuTriggerFor]="menu">

      <div class="user-info">
        <span>
          <mat-icon class="rounded-circle border border-grey"> person </mat-icon>
        </span>
      </div>

      <span>
        <span class="user-name">
          Sowkatali
          <mat-icon>arrow_drop_down</mat-icon>

        </span>
      </span>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>person</mat-icon>
          <span>Profile</span>
        </button>
        <button mat-menu-item disabled>
          <mat-icon>voicemail</mat-icon>
          <span>Check voicemail</span>
        </button>
        <button mat-menu-item>
          <mat-icon>input</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </div>
  </nav>
  <!-- Mobile Navigation Top Navigation Ends Here -->

  <!-- Desktop Top Navigation Starts Here-->
  <nav class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar header-nav fixed-top" id="headerId">

    <div class="navbar-nav-scroll">
      <ul class="navbar-nav bd-navbar-nav flex-row">
        <li class="nav-item">
          <form class="form-inline my-2 my-lg-0">
            <mat-form-field>
              <mat-label>Search....</mat-label>
              <input matInput placeholder="Type to Search....">
              <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
          </form>
        </li>
      </ul>
    </div>

    <div class="flex-row ml-md-auto" [matMenuTriggerFor]="menu" style="cursor: pointer;">

      <div class="user-info">
        <span>
          <mat-icon class="rounded-circle border border-grey"> person </mat-icon>
        </span>
      </div>

      <span>
        <span class="user-name">
          Sowkatali Patan
          <mat-icon>arrow_drop_down</mat-icon>

        </span>
      </span>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>person</mat-icon>
          <span>Profile</span>
        </button>
        <button mat-menu-item disabled>
          <mat-icon>voicemail</mat-icon>
          <span>Check voicemail</span>
        </button>
        <button mat-menu-item>
          <mat-icon>input</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </div>
  </nav>
  <!-- Desktop Top Navigation Ends Here-->
</header>
<!-- Top Navigation Ends Here -->


<mat-sidenav-container>
  <!-- Mobile Nav Stats Here -->
  <mat-sidenav #snav>
    <mat-sidenav #sidenav (keydown.escape)="close()" disableClose></mat-sidenav>
    <mat-nav-list>
      <a class="" mat-list-item routerLink=".">
        <i class="ion-ios-box"></i> Products
      </a>
      <a class="" mat-list-item routerLink=".">
        <i class="ion-ios-copy"></i> Whiteslists
      </a>
      <a class="" mat-list-item routerLink=".">
        <i class="ion-shuffle"></i> Api Application
      </a>
    </mat-nav-list>

  </mat-sidenav>
  <!-- Mobile Nav Ends Here -->

  <mat-sidenav-content>

    <div class="container-fluid">
      <!-- LeftNav Starts Here -->
      <div class="left-nav">
        <nav>
          <div class="title">
            <span>Westeros</span>
          </div>

          <div class="marg-top-15">
            <a class="dropdown-item" href="#">
              <i class="ion-ios-box"></i> Products</a>
            <a class="dropdown-item" href="#">
              <i class="ion-ios-copy"></i> Whiteslists</a>
            <a class="dropdown-item" href="#">
              <i class="ion-shuffle"></i> Api Application</a>
          </div>

        </nav>

      </div>
      <!-- Left Nav Ends Here -->

      <!-- Main Page Starts Here -->
      <div class="main">
        <h4>Products</h4>
        <div class="dropdown-divider"></div>
        <div class="row">

          <mat-divider></mat-divider>
          <div class="dropdown-divider"></div>

          <!-- Displaying the Album -->
          <div class="col-lg-2 col-md-3 col-sm-4 col-6 marg-bottom-25 " *ngFor="let album of albums">
            <div class="img-album">
              <img src="{{album.imagePath}}" alt="" class="img-thumbnail img-fluid">
              <span class="product-title">{{album.title}}</span>
              <span class="product-desc">{{album.description}}</span>
            </div>
          </div>

        </div>

      </div>
      <!-- Main Page Ends Here -->
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>