<header>

  <!-- Mobile Navigation -->
  <nav class="navbar navbar-dark flex-md-row bd-navbar mobile-nav fixed-top">
    <button mat-icon-button>
      <mat-icon class="menu-icon" (click)="snav.toggle()">menu</mat-icon>
    </button>

    <a class="navbar-brand mr-0 mr-md-2 marg-left-10" href="/" aria-label="Bootstrap">
      Westeros
    </a>

    <div class="flex-row ml-md-auto profile" [matMenuTriggerFor]="menu">

      <div class="user-info">
        <span>
          <mat-icon class="rounded-circle border border-grey"> person </mat-icon>
        </span>
      </div>

      <span>
        <span class="user-name">
          Sowkatali
          <mat-icon>arrow_drop_down</mat-icon>

        </span>
      </span>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>person</mat-icon>
          <span>Profile</span>
        </button>
        <button mat-menu-item disabled>
          <mat-icon>voicemail</mat-icon>
          <span>Check voicemail</span>
        </button>
        <button mat-menu-item>
          <mat-icon>input</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </div>
  </nav>

  <!-- Desktop Navigation -->
  <nav class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar header-nav fixed-top" id="headerId">
    <!-- <a class="navbar-brand mr-0 mr-md-2" href="/" aria-label="Bootstrap">
      <img src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" width="36px" alt="">
    </a> -->

    <div class="navbar-nav-scroll">
      <ul class="navbar-nav bd-navbar-nav flex-row">
        <li class="nav-item">
            <form class="form-inline my-2 my-lg-0">
                <mat-form-field>
                    <mat-label>Search....</mat-label>
                    <input matInput placeholder="Type to Search...." [type]="text">
                    <mat-icon matSuffix >search</mat-icon>
                  </mat-form-field>
                <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
              </form>
        </li>
       <!--  <li class="nav-item">
          <a class="nav-link" routerLink="/docs" routerLinkActive="active">Documentation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/employees" routerLinkActive="active">Employees</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/themes" routerLinkActive="active">Themes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/jobs" routerLinkActive="active">Jobs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/blog" routerLinkActive="active" target="_blank">Blog</a>
        </li> -->
      </ul>
    </div>

    <div class="flex-row ml-md-auto" [matMenuTriggerFor]="menu" style="cursor: pointer;">

      <div class="user-info">
        <span>
          <mat-icon class="rounded-circle border border-grey"> person </mat-icon>
        </span>
      </div>

      <span>
        <span class="user-name">
          Sowkatali Patan
          <mat-icon>arrow_drop_down</mat-icon>

        </span>
      </span>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>person</mat-icon>
          <span>Profile</span>
        </button>
        <button mat-menu-item disabled>
          <mat-icon>voicemail</mat-icon>
          <span>Check voicemail</span>
        </button>
        <button mat-menu-item>
          <mat-icon>input</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </div>
  </nav>
</header>


<mat-sidenav-container>
  <mat-sidenav #snav>
    <!-- <mat-sidenav #sidenav (keydown.escape)="close()" disableClose></mat-sidenav> -->
    <mat-nav-list>
      <a mat-list-item routerLink="." *ngFor="let nav of fillerNav">{{nav}}</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>

    <div class="container-fluid">
      <div class="left-nav">
        <nav>
          <div class="title">
            <span>Westeros</span>
          </div>

          <div class="marg-top-15">
            <a class="dropdown-item" href="#">
              <i class="ion-ios-box"></i> Products</a>
            <a class="dropdown-item" href="#">
              <i class="ion-ios-copy"></i> Whiteslists</a>
            <a class="dropdown-item" href="#">
              <i class="ion-shuffle"></i> Api Application</a>
          </div>

        </nav>

      </div>

      <div class="main">
        <h4>Products</h4>
        <div class="dropdown-divider"></div>
        <div class="row">

          <mat-divider></mat-divider>
          <div class="dropdown-divider"></div>
          <div class="col-lg-2 col-md-3 col-sm-4 col-6 marg-bottom-15 ">
            <img src="assets/images/1.png" alt="" class="img-thumbnail img-fluid">
          </div>

          <div class="col-lg-2 col-md-3 col-sm-4 col-6 marg-bottom-15 ">
            <img src="https://dummyimage.com/200x200/8f8b8f/fff" alt="" class="img-thumbnail img-fluid">
          </div>

          <div class="col-lg-2 col-md-3 col-sm-4 col-6 marg-bottom-15">
            <img src="https://dummyimage.com/200x200/8f8b8f/fff" alt="" class="img-thumbnail img-fluid">
          </div>

          <div class="col-lg-2 col-md-3 col-sm-4 col-6 marg-bottom-15">
            <img src="https://dummyimage.com/200x200/8f8b8f/fff" alt="" class="img-thumbnail img-fluid">
          </div>

          <div class="col-lg-2 col-md-3 col-sm-4 col-6 marg-bottom-15">
            <img src="https://dummyimage.com/200x200/8f8b8f/fff" alt="" class="img-thumbnail img-fluid">
          </div>

          <div class="col-lg-2 col-md-3 col-sm-4 col-6 marg-bottom-15 ">
            <img src="assets/images/1.png" alt="" class="img-thumbnail img-fluid">
          </div>

          <div class="col-lg-2 col-md-3 col-sm-4 col-6 marg-bottom-15">
            <img src="https://dummyimage.com/200x200/8f8b8f/fff" alt="" class="img-thumbnail img-fluid">
          </div>

          <div class="col-lg-2 col-md-3 col-sm-4 col-6 marg-bottom-15">
            <img src="https://dummyimage.com/200x200/8f8b8f/fff" alt="" class="img-thumbnail img-fluid">
          </div>

          <div class="col-lg-2 col-md-3 col-sm-4 col-6 marg-bottom-15">
            <img src="https://dummyimage.com/200x200/8f8b8f/fff" alt="" class="img-thumbnail img-fluid">
          </div>

          <div class="col-lg-2 col-md-3 col-sm-4 col-6 marg-bottom-15">
            <img src="https://dummyimage.com/200x200/8f8b8f/fff" alt="" class="img-thumbnail img-fluid">
          </div>

          <div class="col-lg-2 col-md-3 col-sm-4 col-6 marg-bottom-15 ">
            <img src="assets/images/1.png" alt="" class="img-thumbnail img-fluid">
          </div>

          <div class="col-lg-2 col-md-3 col-sm-4 col-6 marg-bottom-15 ">
            <img src="https://dummyimage.com/200x200/8f8b8f/fff" alt="" class="img-thumbnail img-fluid">
          </div>

          <div class="col-lg-2 col-md-3 col-sm-4 col-6 marg-bottom-15">
            <img src="https://dummyimage.com/200x200/8f8b8f/fff" alt="" class="img-thumbnail img-fluid">
          </div>

          <div class="col-lg-2 col-md-3 col-sm-4 col-6 marg-bottom-15">
            <img src="https://dummyimage.com/200x200/8f8b8f/fff" alt="" class="img-thumbnail img-fluid">
          </div>

          <div class="col-lg-2 col-md-3 col-sm-4 col-6 marg-bottom-15">
            <img src="https://dummyimage.com/200x200/8f8b8f/fff" alt="" class="img-thumbnail img-fluid">
          </div>

          <div class="col-lg-2 col-md-3 col-sm-4 col-6 marg-bottom-15 ">
            <img src="assets/images/1.png" alt="" class="img-thumbnail img-fluid">
          </div>

          <div class="col-lg-2 col-md-3 col-sm-4 col-6 marg-bottom-15">
            <img src="https://dummyimage.com/200x200/8f8b8f/fff" alt="" class="img-thumbnail img-fluid">
          </div>

          <div class="col-lg-2 col-md-3 col-sm-4 col-6 marg-bottom-15">
            <img src="https://dummyimage.com/200x200/8f8b8f/fff" alt="" class="img-thumbnail img-fluid">
          </div>

          <div class="col-lg-2 col-md-3 col-sm-4 col-6 marg-bottom-15">
            <img src="https://dummyimage.com/200x200/8f8b8f/fff" alt="" class="img-thumbnail img-fluid">
          </div>

          <div class="col-lg-2 col-md-3 col-sm-4 col-6 marg-bottom-15">
            <img src="https://dummyimage.com/200x200/8f8b8f/fff" alt="" class="img-thumbnail img-fluid">
          </div>

        </div>

      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>